# Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Data Collection and Analysis

PIMA Stroke Dataset

In [2]:
# loading the diabetes dataset to a pandas DataFram
stroke_dataset = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [1]:
# printing the first 5 rows of the dataset
stroke_dataset.tail()

NameError: name 'stroke_dataset' is not defined

In [4]:
# number of rows and Columns in this dataset
stroke_dataset.shape

(5110, 12)

In [5]:
# getting the statistical measures of the data
stroke_dataset.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [6]:
stroke_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [7]:
stroke_dataset.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

**Lets fill Null Values**

In [8]:
stroke_dataset['bmi'].value_counts()

28.7    41
28.4    38
26.7    37
27.6    37
26.1    37
        ..
48.7     1
49.2     1
51.0     1
49.4     1
14.9     1
Name: bmi, Length: 418, dtype: int64

In [9]:
stroke_dataset['bmi'].describe()

count    4909.000000
mean       28.893237
std         7.854067
min        10.300000
25%        23.500000
50%        28.100000
75%        33.100000
max        97.600000
Name: bmi, dtype: float64

In [10]:
stroke_dataset['bmi'].fillna(stroke_dataset['bmi'].mean(),inplace=True)

In [11]:
stroke_dataset['bmi'].describe()

count    5110.000000
mean       28.893237
std         7.698018
min        10.300000
25%        23.800000
50%        28.400000
75%        32.800000
max        97.600000
Name: bmi, dtype: float64

In [12]:
stroke_dataset.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [13]:
stroke_dataset.drop('id',axis=1,inplace=True)

In [14]:
stroke_dataset

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

**Label Encoding**

In [15]:
stroke_dataset.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

In [16]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()

In [17]:
gender=enc.fit_transform(stroke_dataset['gender'])

In [18]:
smoking_status=enc.fit_transform(stroke_dataset['smoking_status'])

In [19]:
work_type=enc.fit_transform(stroke_dataset['work_type'])
Residence_type=enc.fit_transform(stroke_dataset['Residence_type'])
ever_married=enc.fit_transform(stroke_dataset['ever_married'])

In [20]:
stroke_dataset['work_type']=work_type

In [21]:
stroke_dataset['ever_married']=ever_married
stroke_dataset['Residence_type']=Residence_type
stroke_dataset['smoking_status']=smoking_status
stroke_dataset['gender']=gender

In [22]:
stroke_dataset

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.600000,1,1
1,0,61.0,0,0,1,3,0,202.21,28.893237,2,1
2,1,80.0,0,1,1,2,0,105.92,32.500000,2,1
3,0,49.0,0,0,1,2,1,171.23,34.400000,3,1
4,0,79.0,1,0,1,3,0,174.12,24.000000,2,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,2,1,83.75,28.893237,2,0
5106,0,81.0,0,0,1,3,1,125.20,40.000000,2,0
5107,0,35.0,0,0,1,3,0,82.99,30.600000,2,0
5108,1,51.0,0,0,1,2,0,166.29,25.600000,1,0
5109,0,44.0,0,0,1,0,1,85.28,26.200000,0,0

In [23]:
stroke_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   int32
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   int32
 5   work_type          5110 non-null   int32
 6   Residence_type     5110 non-null   int32
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                5110 non-null   float64
 9   smoking_status     5110 non-null   int32
 10  stroke             5110 non-null   int64
dtypes: float64(3), int32(5), int64(3)
memory usage: 339.5 KB

In [24]:
stroke_dataset['stroke'].value_counts()

0    4861
1     249
Name: stroke, dtype: int64

0 --> Non-Stroke

1 --> Stroke

In [25]:
stroke_dataset.groupby('stroke').mean()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
stroke,,,,,,,,,,
0,0.413289,41.971545,0.088871,0.047110,0.644518,2.175684,0.506274,104.795513,28.825388,1.370088
1,0.433735,67.728193,0.265060,0.188755,0.883534,2.012048,0.542169,132.544739,30.217789,1.510040

# Splitting the Features and Target

'target' column is our Target and rest of the column is out Features

This dataframe contains target and features together

Now we need to remove target from the dataframe and store it seprately

In [26]:
# separating the data and labels
X = stroke_dataset.drop(columns = 'stroke', axis=1)
Y = stroke_dataset['stroke']

In [27]:
print(X)

      gender   age  hypertension  heart_disease  ever_married  work_type  \
0          1  67.0             0              1             1          2
1          0  61.0             0              0             1          3
2          1  80.0             0              1             1          2
3          0  49.0             0              0             1          2
4          0  79.0             1              0             1          3
...      ...   ...           ...            ...           ...        ...
5105       0  80.0             1              0             1          2
5106       0  81.0             0              0             1          3
5107       0  35.0             0              0             1          3
5108       1  51.0             0              0             1          2
5109       0  44.0             0              0             1          0

      Residence_type  avg_glucose_level        bmi  smoking_status
0                  1             228.69  36.600000               1
1                  0             202.21  28.893237               2
2                  0             105.92  32.500000               2
3                  1             171.23  34.400000               3
4                  0             174.12  24.000000               2
...              ...                ...        ...             ...
5105               1              83.75  28.893237               2
5106               1             125.20  40.000000               2
5107               0              82.99  30.600000               2
5108               0             166.29  25.600000               1
5109               1              85.28  26.200000               0

[5110 rows x 10 columns]

In [28]:
print(Y)

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

# Splitting the Data into Training data, & Test Data

This X_train contains all the features of training data

This X_test contains all the features of test data

Y_train contains the target of all these features present in this X_train

Y_test contain the corresponding target for X_test

When you mention stratify=Y these two classes which are either 1 or 0

Will be distributed in an even manner througout your training data and test data as it was present in your original data

test_size=0.2 means How much percentage of the data you want as test data so point to represents 20 percentage of the data

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [54]:
print(X.shape, X_train.shape, X_test.shape)

(5110, 10) (4088, 10) (1022, 10)

**Data Standardization**

In [31]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()

In [32]:
X_train_std=std.fit_transform(X_train)
X_test_std=std.transform(X_test)

In [33]:
X_train_std

array([[-0.84288904,  0.43051281, -0.32704604, ..., -0.20240627,
         0.31940897, -1.27855108],
       [ 1.18401119, -1.91425143, -0.32704604, ...,  0.07701177,
        -1.94456043, -1.27855108],
       [ 1.18401119, -1.56635302, -0.32704604, ...,  0.11017055,
        -0.84491815, -1.27855108],
       ...,
       [-0.84288904, -0.54573271, -0.32704604, ..., -0.64164966,
         0.306472  , -0.34520879],
       [-0.84288904,  1.71738191, -0.32704604, ...,  2.42200115,
        -0.52149395,  0.58813349],
       [ 1.18401119,  1.31800874, -0.32704604, ...,  2.26924967,
         0.13829142, -1.27855108]])

In [34]:
X_test_std

array([[ 1.18401119, -1.52197823, -0.32704604, ..., -0.48337172,
        -1.49176655, -1.27855108],
       [-0.84288904, -0.6344823 , -0.32704604, ..., -0.99269068,
        -0.3791873 ,  0.58813349],
       [-0.84288904, -0.6344823 , -0.32704604, ..., -1.08354576,
         1.82009726, -0.34520879],
       ...,
       [-0.84288904,  0.25301363, -0.32704604, ..., -1.10366209,
        -0.02988917,  1.52147578],
       [-0.84288904, -0.41260832, -0.32704604, ..., -0.19466922,
        -0.18513278, -1.27855108],
       [-0.84288904,  1.00738516,  3.05767348, ...,  2.18790011,
         3.07498315, -0.34520879]])

# Now doing Model Training
**Logistic Regression**

Now doing Model Training
Logistic Regression

In this model variable we are loading our LogisticRegression Model

In [35]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [36]:
lr.fit(X_train_std,Y_train)

LogisticRegression()

In [37]:
Y_pred_lr=lr.predict(X_test_std)

In [38]:
Y_pred_lr

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [39]:
ac_lr=accuracy_score(Y_test,Y_pred_lr)

In [57]:
ac_lr

0.9510763209393346

# Saving the trained model

In [41]:
import pickle
filename = 'stroke_disease_model.sav'
pickle.dump(lr, open(filename, 'wb'))
# loading the saved model
loaded_model = pickle.load(open('stroke_disease_model.sav', 'rb'))
for column in X.columns:
  print(column)

gender
age
hypertension
heart_disease
ever_married
work_type
Residence_type
avg_glucose_level
bmi
smoking_status